# source myenv/bin/activate
# pip install -r requirements.txt

# ̉brew install tesseract
# brew install poppler

numpy
langchain
langchain_community
pymupdf
pdf2image
youtube-transcript-api
pytube
tiktoken
sentence_transformers
chromadb
uuid
typing 
scikit-learn
jq
langchain-groq
huggingface-hub
transformers 
accelerate 
sentence-transformers 
torch
bitsandbytes
streamlit
unstructured
pdfminer.six[image]
pi-heif
pytesseract
requests
openai
# psycopg2
psycopg2-binary
-U google-genai
